body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
}

#controls {
    margin-bottom: 1rem;
}

#controls button {
    font-size: 1rem;
}

#container {
    width: 90vh;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;;
    border: 1px solid lightgray;
    background-color: white;
}

.square {
    box-sizing: border-box;
    border: 1px solid lightgray;
}